*~
*.sw
*.log
*.tmp
*.tmp.*
log.txt
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
node_modules
